wrong ref syntax

https://datatracker.ietf.org/doc/html/draft-ietf-oauth-sd-jwt-vc-11#section-11.3-4 

> This includes, but is not limited to, the use of the x5u parameter in JWKs ([RFC7517, section 4.6]), the jku parameter ([RFC7800, section 3.5]), and cases where a URL is used in the kid parameter ([RFC7800, section 3.4]). 

passive aggressive tag of @cre8 although admittedly I missed it too in my review of #340 

