Recommend against  using the x5u parameter in JWK

As per [RFC 7517 section 4.6](https://datatracker.ietf.org/doc/html/rfc7517#section-4.6) a JWK may contain the x5u parameter. Suppose a malicious issuer uses different JWK/x5u per (group of) user(s). Resolving this certificate will make the attack described in section 11.3 more efficient. 

Do you mean for the JWK in the cnf claim of the SD-JWT? Or JWKs in or referenced by metadata? Or both?

I am referring to the JWK in the cnf claim. An issuer may store the public key of a holder in a certificate,  save it in a  location it controls, and set the x5u parameter of the JWK in the cnf claim accordingly. Note that x5u can co-exist with other members of the JWK, hence it may not be noticed by the holder. If the verifier follows strictly RFC 7517 it shall retrieve the certificate and verify it matches the rest of the members of the JWK.  

Is this privacy consideration better fitted for the sd-jwt spec and not for the sd-jwt vc one?

cnf is relevant when using kb-jwt, that is defined in sd-jwt. Therefore I would suggest to add it there and not in this spec because it is not sd-jwt vc specific like e.g. vct

@cre8, the core sd-jwt spec is in the RFC editor queue so not realistically amenable to changes at this point. So sd-jwt vc kinda has to be the place for this kind of thing given the current maturity of the drafts.  